#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 1rem;
  cursor: pointer;
}
.card:hover{
  box-shadow:'0 0 16px rgba(154, 171, 158, 1)';
  transition: box-shadow 0.3s;
}

.read-the-docs {
  color: #888;
}
